<div id='login-background' style="height:100%;" class="pt-5">
    <div class="card mx-auto border-0">
        <div class="card-body pb-4">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-template">
                                <h1>Oops!</h1>
                                <h2>404 Not Found</h2>
                                <div class="error-details">
                                    Sorry, an error has occurred, Requested page not found!
                                </div>
                                <div class="error-actions">
                                    <a href="/" class="btn btn-primary btn-lg">
                                        Take Me Home
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>