<div class="no-height">
  <button type="button" class="btn btn-light map-button" id="add-toggle">Add a bin</button>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
<div id="map"></div>
<pre id='add-box' class='add-box'>
  <div class="form-group inline-no-padding">
    <div class="btn-group btn-group-toggle margin-right" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="bintype" id="Mixed" autocomplete="off" checked>Mixed
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="bintype" id="Glass" autocomplete="off">Glass
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="bintype" id="Paper" autocomplete="off">Paper
      </label>
       <label class="btn btn-secondary">
        <input type="radio" name="bintype" id="Plastic" autocomplete="off">Plastic
      </label>
    </div>
  </div>
  <div class="form-group inline-no-padding">
    <input type="submit" id="submit-bin" class="btn btn-primary margin-right" name="addBin" value="Add bin 🚮"/>
  </div>
</pre>

<script src="map/mapbox.js"></script>
