body {
  overflow: hidden;
    /*height: 100vh;*/
}


/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
    height: 100vh;
    top:0;
    bottom:0;
    width:100%;
  }
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}

  /*.navbar {*/
  /*  height: 10vh;*/
  /*}*/
@media (min-width: 999px) {
    nav.navbar {
        height: 80px;
        display: flex;
        align-items: center;
    }


}
@media (max-width: 998px) {
    .navbar-header {
        height: 80px;
        padding: 15px;
        width: 100%;
    }
    .navbar-toggler {
        margin-top: 5px;
        float: right;
    }
}

.container-fluid {
    padding: 0;
  }

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
