body {
  overflow: hidden;
    /*height: 100vh;*/
}


/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
    height: 100vh;
    top:0;
    bottom:0;
    width:100%;
  }
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}

  /*.navbar {*/
  /*  height: 10vh;*/
  /*}*/
@media (min-width: 999px) {
    nav.navbar {
        height: 80px;
        display: flex;
        align-items: center;
    }


}
@media (max-width: 998px) {
    .navbar-header {
        height: 80px;
        padding: 15px;
        width: 100%;
    }
    .navbar-toggler {
        margin-top: 5px;
        float: right;
    }
}

.container-fluid {
    padding: 0;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.card {
    width: 300px;
}

.nav-item .nav-link[disabled]:hover {

}

#login-background {
    background: url(https://images.pexels.com/photos/802221/pexels-photo-802221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mapboxgl-mixed-bin-marker {
  background-image: url('/map-markers/pin-new.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  cursor: pointer;
}

.add-box {
  background: rgba(255,255,255,0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding:5px 10px;
  margin: 0 auto;
  font-size: 5px;
  border-radius: 3px;
  display: none;
}

.inline-no-padding {
  display: inline;
  padding: 0;
}

.margin-right {
  margin-right: 25px;
}

.map-button {
  color: #2cace1;
  background-color: #ffffff;
  border-width: 2px;
  border-color: rgba(0,0,0,0.1);
  border-radius: 0.3rem;
    float: right;

}

.buttons-on-map {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    padding-top: 8;
    right: 0.5rem;
}

.map-button:hover {
  color: #2cace1;
  background-color: #f4f4f4;
}

.no-height {
  height: 0;
  position: relative;
  top: 14%
}

.custom-navbar {
  background-color: #76C1AA;

}

.margin-right {
  margin-right: 25px;
}

.fa.fa-ellipsis-v {
  color:white;
}

.navbar-toggler {
  border: 0;
  margin-top: 11px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0;
}