body {
  overflow: hidden;
    /*height: 100vh;*/
}


/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
    height: 100vh;
    top:0;
    bottom:0;
    width:100%;
  }
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}

  /*.navbar {*/
  /*  height: 10vh;*/
  /*}*/
@media (min-width: 999px) {
    nav.navbar {
        height: 80px;
        display: flex;
        align-items: center;
    }


}
@media (max-width: 998px) {
    .navbar-header {
        height: 80px;
        padding: 15px;
        width: 100%;
    }
    .navbar-toggler {
        margin-top: 5px;
        float: right;
    }
}

.container-fluid {
    padding: 0;
  }

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.card {
    width: 300px;
}

.nav-item .nav-link[disabled]:hover {

}

#login-background {
    background: url('https://images.unsplash.com/photo-1534408679207-69b9615e55a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=cfbabd80cd2d5cae495a2a732d473562') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
